<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="{{ site.url }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/github-light.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/pygments.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
{% assign mytitle = site.github.project_title %}
{% if site.usertitle %}
{% assign mytitle = site.usertitle %}
        <h1>{{ site.usertitle }}</h1>
{% else %}
        <h1>{{ site.github.project_title }}</h1>
{% endif %}
        <p><a href="{{ site.url }}/">nEDM Experiment</a></p>
{% if site.github.is_project_page %}
        <p><a href="{{ site.url }}/{{ site.github.repository_name }}">{{ mytitle }}</a></p>
        <p><a href="{{ site.github.repository_url }}">Repository</a></p>
{% assign subs = null %}
{% if site.subsystems %}
        <h4>Sub-pages:</h4>
        <ul>
        {% assign subs = site.subsystems | sort: 'order', 'last' %}
        {% for post in subs %}
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
        </ul>
{% endif %}
{% endif %}
      </header>
      <section>
     {{ content }}
{% if page.is_index %}
{% if site.subsystems %}
        <h3 id="available-pages">Available pages</h3>
        <ul>

        {% for post in subs %}
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> - {{ post.description }}
          </li>
        {% endfor %}
        </ul>
{% endif %}
{% endif %}

      </section>
      <footer>
        <p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>

    </div>
    <script src="{{ site.url }}/javascripts/scale.fix.js"></script>
  </body>
</html>
